body {
    text-align:center;
}
.btn {
    height:200px;
    width:200px;
    border:10px solid black;
    border-radius:20px;
    margin:10px;
}
.btn_container{
    display:flex;
    justify-content: center;
    
}

.red {
    background-color:brown;
} 
.green {
    background-color:aquamarine;
}
.yellow {
    background-color:chocolate;
}
.purple {
    background-color:cornflowerblue;
}
.flash {
    background-color: white;
}
.userflash {
    background-color:green;
}
